.VueCarousel-navigation-next {
  transform: translateY(-50%) translateX(20%) !important;
}

.VueCarousel-navigation-prev {
  transform: translateY(-50%) translateX(-20%) !important;
}

.VueCarousel-pagination {
  display: none !important;
}

.VueCarousel-navigation--disabled {
  display: none;
}

.VueCarousel-wrapper {
  width: 95% !important;
}

.VueCarousel {
  align-items: center;
}

